.footer-bottom {
    position: relative;
    padding:16px 0;
    text-align: center;
    color: rgba(231, 231, 231, 0.918);
    background-color: black;
}

.footer-bottom p {
    font-size: 13px;
}

.fa-arrow-up {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.footer-bottom a {
    text-decoration: none;
    color: #2195f1;
}

@media screen and (max-width: 500px) {
    .footer-bottom {
        padding:32px 0;
    }
    .fa-arrow-up {
        right: 50%;
        top: 0;
        transform: translateX(50%);
    }
}