.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.portfolio-header-right {
    display: flex;
    gap: 5px;
}

.portfolio-header-btn {
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    background-color: #ededed;
    color: #6f6e6e;
}

.portfolio-header-right .current {
    background-color: #2195f1;
    color: white;
    box-shadow: 0 2px 3px -2px black;
}

.portfolio-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.portfolio-img-container {
    height: 150px;
}

.portfolio-items-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .portfolio-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

@media  screen and (max-width: 700px) {
    .portfolio-items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  screen and (max-width: 500px) {
    .portfolio-items-container {
        grid-template-columns: 1fr;
        place-items: center;
    }
    .portfolio-img-container {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .portfolio-header-right {
        flex-wrap: wrap;
    }
}


