.contact-us {
    background-color: var(--background-color);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact .item:first-of-type p{
    color: var(--main-text-color)
}

.contact-icon {
    color: var(--main-blue-color);
}

.contact-us form {
    padding: 35px 40px;
    margin-top: 50px;
    background-color: white;
}

form h2 {
    margin-bottom: 30px;
}

form input, textarea {
    padding: 5px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #e2dede;
    border-radius: 20px;
    margin: 10px 0;
}

.form-name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

form label{
    font-size: 0.75rem;
}

textarea::placeholder {
    color: var(--main-text-color);
    font-size: 0.75rem;
}


@media screen and (max-width: 500px) {
    .form-name {
        grid-template-columns: 1fr;
        gap: 0
    }
}