.web-container {
    display: flex;
    gap: var(--main-gap);
}

.web .left {
    flex: 3;
    display: flex;
    gap: 10px;
}

.web .right {
    flex: 2;
    height: 300px;
}
.web img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .web-container {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .web .left {
        display: block;
    }
}