footer {
    position: relative;
    background-color: #333333;
}

footer hr {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.copyright {
    text-align: center;
    padding-top: 30px;
}

.fa-heart {
    color: red;
}